<div class="row" *ngIf="tours?.length === 0">
  <h3 class="text-center">No favorites tours</h3>
</div>

<table class="table" *ngIf="tours && tours.length > 0">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Country</th>
    <th scope="col">Price</th>
    <th scope="col">Start date</th>
    <th scope="col">End date</th>
    <th scope="col"></th>
    <th scope="col" style="width: 2%" class="text-right">
      <button class="btn btn-exit btn-sm" (click)="deleteAllTours()">
        <i class="fa fa-trash fa-lg"></i>
      </button>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let tour of tours">
    <th scope="row">{{tour.name}}</th>
    <th scope="row">{{tour.country || 'No description provided'}}</th>
    <th scope="row">{{tour.price || 'No description provided'}}</th>
    <th scope="row">{{tour.start | date}}</th>
    <th scope="row">{{tour.end | date}}</th>
    <th scope="row">
      <button type="button" class="btn btn-outline-info btn-sm" routerLink="/trips/{{tour.id}}">Show</button>
    </th>
    <th scope="row" style="width: 2%">
      <button class="btn btn-exit btn-sm" (click)="deleteTour(tour.id)">
        <i class="fa fa-times fa-lg"></i>
      </button>
    </th>
  </tr>
  </tbody>
</table>
