.img-circle {
  max-height: 50px;
}

th {
  vertical-align: middle;
}

.btn {
  box-shadow: none;
  height: 40px;
  width: 90px;
}

.table th {
  border-bottom: 1px solid #5b62f4;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #5b62f4;
  border-top: none;
}

.btn-exit {
  width: 30px;
  height: 30px;
  background: none;
}

.fa-times, .fa-trash {
  color: #5b62f4;
}
