<form [formGroup]="serviceForm" (ngSubmit)="serviceForm.valid && createService()" autocomplete="off">
    <div class="mb-3">
        <label class="form-label">Name</label>
        <app-text-input [formControl]='$any(serviceForm).controls["name"]' [label]='"Service name"'>
        </app-text-input>
    </div>
    <div class="mb-3">
        <label class="form-label">Price</label>
        <app-text-input [formControl]='$any(serviceForm).controls["price"]' [type]='"number"' [label]='"Price"'>
        </app-text-input>
    </div>
    <div class="mb-3">
        <label class="form-label">Description</label>
        <textarea class="form-control" [formControl]='$any(serviceForm).controls["description"]' cols="30"
            rows="10"></textarea>
    </div>
    <div class="form-group text-center">
        <button [disabled]='!serviceForm.valid' class="btn btn-success mr-2" type="submit">Create</button>
    </div>
</form>