<div class="row mt-4">
  <div class="col-md-3">
    <div ng2FileDrop  *ngIf="!uploader?.queue?.length"
         [ngClass]="{'nv-file-over': hasBaseDropzoneOver}"
         (fileOver)="fileOverBase($event)"
         [uploader]="uploader"
         class="card bg-faded p-3 text-center mb-3 my-drop-zone">
      <i class="fa fa-upload fa-3x"></i>
      Drop photos here
    </div>
    <div class="mt-0 form-inline" *ngIf="uploader?.queue?.length">
<!--      Progress:-->
      <div class="progress col-md-4">
        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
      </div>
      <button type="button" class="btn btn-outline-info btn-sm ml-3 mr-2 mt-2 btn-file"
              (click)="addMainPhoto(member.photoUrl)" [disabled]="!uploader.getNotUploadedItems().length">Upload
      </button>
      <button type="button" class="btn btn-outline-primary btn-sm mt-2 btn-file"
              (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length"> Cancel
      </button>
    </div>
  </div>
</div>

