<div class="container" *ngIf="tourPackage">
    <form [formGroup]="editTourForm" (ngSubmit)="editTourForm.valid && updatePackage()" autocomplete="off">
        <fieldset>
            <div class="mb-3">
                <label class="form-label">Name</label>
                <app-text-input [formControl]='$any(editTourForm).controls["name"]' [label]='"Package name"'>
                </app-text-input>
            </div>
            <div class="mb-3">
                <label class="form-label">Start date</label>
                <app-date-input [formControl]='$any(editTourForm).controls["start"]' [label]='"Start"'></app-date-input>
            </div>
            <div class="mb-3">
                <label class="form-label">End date</label>
                <app-date-input [formControl]='$any(editTourForm).controls["end"]' [label]='"End"'></app-date-input>
            </div>
            <div class="mb-3">
                <label class="form-label">Price</label>
                <app-text-input [formControl]='$any(editTourForm).controls["price"]' [label]='"Price"'
                    [type]='"number"'>
                </app-text-input>
            </div>
            <div class="mb-3">
                <label class="form-label">Country</label>
                <app-text-input [formControl]='$any(editTourForm).controls["country"]' [label]='"Country"'>
                </app-text-input>
            </div>
            <div class="mb-3">
                <label class="form-label">Description</label>
                <textarea class="form-control" [formControl]='$any(editTourForm).controls["description"]' cols="30"
                    rows="10"></textarea>
            </div>
            <div class="form-group">
                <label class="form-label">Expert</label>
                <div class="input-group mb-3">
                    <select class="form-select" name="expertName" aria-describedby="btn-expert-info"
                        [formControl]='$any(editTourForm).controls["expertName"]'>
                        <option *ngFor="let expert of experts" value="{{expert?.username}}">{{expert?.username}}</option>
                    </select>
                    <button class="btn btn-primary" type="button" id="btn-expert-info">Button</button>
                </div>
            </div>
        </fieldset>

        <div class="form-group text-center">
            <button [disabled]='!editTourForm.valid' class="btn btn-success mr-2" type="submit">Save changes</button>
        </div>
    </form>
</div>