<div class="col">
  <div class="row">
    <div class="col-md-12">
      <h3 class="my-3 mb-0">Name:</h3>
      {{member.name || 'No description provided'}}
    </div>
    <div class="col-md-12">
      <h3 class="my-3 mb-0">Last Name:</h3>
      {{member.lastName || 'No description provided'}}
    </div>
    <div class="col-md-12">
      <h3 class="my-3 mb-0">Email:</h3>
      {{member.email || 'No description provided'}}
    </div>
    <div class="col-md-12">
      <h3 class="my-3 mb-0">Phone Number:</h3>
      {{member.phoneNumber || 'No description provided'}}
    </div>
  </div>
</div>
