<div class="modal-header">
    <h4 class="modal-title pull-left"><b>Information</b></h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm">
                <img src="{{user.photoUrl}}" class="img-responsive rounded-circle img-user" alt="{{user.name}}">
            </div>
            <div class="col-sm">
                <p>Name: {{user.name}}</p>
                <p>Last name: {{user.lastName}}</p>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Cancel</button>
</div>
