img.img-thumbnail img:not(.img-thumbnail-main) {
    max-height: 100px !important;
    margin-bottom: 2px;
}

.nv-file-over {
    border: dotted 3px green;
}

input[type=file] {
    color: transparent;
}