.img-circle {
  max-height: 50px;
}

th {
  vertical-align: mathematical;
  transition: 0.3s;
}

.btn {
  box-shadow: none;
}

.table th {
  border-bottom: 1px solid #5b62f4;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #5b62f4;
  border-top: none;
}

.fa-angle-down, .fa-angle-up {
  color: #5b62f4;
}

.question-id {
  transition: 0.5s;
}

.question-id-active {
  color: #5b62f4;
  font-size: 64px;
}

.answer {
  opacity: 1;
  transition: 0.5s;
  overflow: hidden;
  height: auto;
}

.answer-active {
  opacity: 0;
  transition: 0.5s;
  overflow: hidden;
  margin-top: -50px;
  height: 0;
}
