<div class="container mt-1 mb-2">
  <form #form="ngForm" class="form-inline mb-3" (ngSubmit)="getTourPackages()" autocomplete="off">
    <div class="form-group">
      <label>Start date: </label>
      <input type="date" class="form-control ml-2 mr-2" style="height: 50px" name="start"
             [(ngModel)]="tourParams.start">
    </div>
    <div class="form-group px-2">
      <label>End date: </label>
      <input type="date" class="form-control ml-2" style="height: 50px" name="end"
             [(ngModel)]="tourParams.end">
    </div>
    <button class="btn btn-outline-primary btn-filter my-2 btn-sm my-sm-0 mr-2 ml-2" type="submit">Apply</button>
    <button (click)="resetFilters()" class="btn btn-outline-info btn-filter my-2 btn-sm my-sm-0" type="submit">Reset
    </button>
    <div class="col">
      <div class="btn-group float-right">
        <button
          type="button"
          class="btn btn-primary"
          name='orderBy'
          (click)="getTourPackages()"
          btnRadio='price'
          [(ngModel)]="tourParams.orderBy"><i class="fa fa-usd"></i> Price
        </button>
        <button
          type="button"
          class="btn btn-primary"
          name='orderBy'
          (click)="getTourPackages()"
          btnRadio='name'
          [(ngModel)]="tourParams.orderBy"><i class="fa fa-user"></i> Name
        </button>
      </div>
    </div>
  </form>
</div>
<div class="row">
  <div class="col-sm-4" *ngFor="let package of packages">
    <app-tour-package-card [package]="package"></app-tour-package-card>
  </div>
</div>
<div class="d-flex justify-content-center" *ngIf="packages && packages.length > 0 && pagination && !loading">
  <pagination
    [boundaryLinks]="true"
    [totalItems]="pagination.totalItems"
    [itemsPerPage]="pagination.itemsPerPage"
    [(ngModel)]="pagination.currentPage"
    (pageChanged)="pageChanged($event)"
    [maxSize]="pagination.itemsPerPage"
    previousText="&lsaquo;"
    nextText="&rsaquo;"
    firstText="&laquo;"
    lastText="&raquo;">
  </pagination>
</div>
