<div class="modal-header">
  <h4 class="modal-title pull-left">Edit roles for <b>{{user.username | titlecase}}</b></h4>
  <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form #rolesForm="ngForm" id="rolesForm">
    <fieldset class="form-group">
      <div class="form-check" *ngFor="let role of roles">
        <input type="radio" class="form-check-input" [checked]="role.checked" value="role.name"
          (change)="changeRole(role)" [disabled]="role.name === 'Admin' && user.username === 'admin'">
        <label>{{role.name}}</label>
      </div>
    </fieldset>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-dark" (click)="bsModalRef.hide()">Cancel</button>
  <button type="button" class="btn btn-outline-dark" (click)="updateRoles()">Submit</button>
</div>
