<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img src="assets/logo.png" alt="Tourismos" style="height: 50px;">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/">About</a>
        </li>
        <li class="nav-item dropdown" dropdown>
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false" dropdownToggle>Dropdown</a>
          <div class="dropdown-menu" *dropdownMenu>
            <a class="dropdown-item" routerLink="/">Action</a>
            <a class="dropdown-item" routerLink="/">Another action</a>
            <a class="dropdown-item" routerLink="/">Something else here</a>
          </div>
        </li>
      </ul>
      <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
        <img class="account-img" src="{{user.photoUrl || './assets/user.png'}}" alt="{{user.username}}">
        <a class="dropdown-toggle text-light ml-2" data-bs-toggle="dropdown" role="button" aria-haspopup="true"
           aria-expanded="false" dropdownToggle style="text-decoration:none">Welcome {{user.name || user.username | titlecase}}</a>
        <div class="dropdown-menu mt-3" *dropdownMenu>
          <div class="dropdown-item">Edit profile</div>
          <div class="dropdown-item" (click)="logout()">Logout</div>
        </div>
      </div>
      <form class="d-flex" *ngIf="!(accountService.currentUser$ | async) as user">
        <button class="btn btn-outline-primary my-2 btn-sm my-sm-0 mr-2" routerLink="/login">Sign In</button>
        <button class="btn btn-outline-info my-2 btn-sm my-sm-0" routerLink="/register">Sign Up</button>
      </form>
    </div>
  </div>
</nav>
