<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img src="assets/logo.png" alt="Tourismos" style="height: 50px;">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/tours">Tours</a>
        </li>
        <ng-container *ngIf="accountService.currentUser$ | async">
          <li *appHasRole='"Admin"' class="nav-item">
            <a class="nav-link" routerLink="/admin">Admin</a>
          </li>
          <li *appHasRole='"Expert"' class="nav-item">
            <a class="nav-link" routerLink="/expert">Expert</a>
          </li>
        </ng-container>
        <li class="nav-item dropdown" dropdown>
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false" dropdownToggle>Actions</a>
          <div class="dropdown-menu" *dropdownMenu>
            <a class="dropdown-item" routerLink="/">Return to home</a>
            <a class="dropdown-item" routerLink="/errors">Errors</a>
          </div>
        </li>
      </ul>
      <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
        <i class="btn-outline-info btn-sm fa fa-bell-o text-light mr-3 btn-nav" routerLink="/messages"></i>
        <i class="btn-outline-info btn-sm fa fa-bookmark-o text-light mr-2 btn-nav" routerLink="/favorites-tours"></i>
        <span class="vl ml-2 mr-3"></span>
        <a class="dropdown-toggle text-light mr-2" data-bs-toggle="dropdown" role="button" aria-haspopup="true"
           aria-expanded="false" dropdownToggle
           style="text-decoration:none">{{user.name || user.username | titlecase}}</a>
        <img class="account-img" src="{{user.photoUrl || './assets/user.png'}}" alt="{{user.username}}">
        <div class="dropdown-menu mt-3" *dropdownMenu>
          <div class="dropdown-item" routerLink="/users/{{user.username}}">Profile</div>
          <div class="dropdown-item" (click)="logout()">Logout</div>
        </div>
      </div>
      <form class="d-flex" *ngIf="!(accountService.currentUser$ | async) as user">
        <button class="btn btn-outline-primary my-2 btn-sm my-sm-0 mr-2" routerLink="/login">Sign In</button>
        <button class="btn btn-outline-info my-2 btn-sm my-sm-0" routerLink="/register">Sign Up</button>
      </form>
    </div>
  </div>
</nav>
