<div class="tab-panel" *ngIf="package && packagePhotos">
  <div class="row header">
    <tabset class="col member-tabset">
        <tab heading="Info">
            <div class="container mt-3">
                <div class="row">
                    <!-- Product main image -->
                    <div class="col-md-7">
                        <img class="img-fluid" src="{{package.photoUrl}}" alt="{{package.name}}">
                    </div>

                    <!-- Product details -->
                    <div class="col-md-5">
                        <h1 class="my-4">
                            {{package.name | titlecase}}
                        </h1>
                        <h3 class="my-3">Details</h3>
                        <div class="row">
                            <div class="col-md-12">
                                <b>Country:</b>
                                {{package.country}}
                            </div>
                            <div class="col-md-12">
                                <b>Start:</b>
                                {{package.start | date}}
                            </div>
                            <div class="col-md-12">
                                <b>End:</b>
                                {{package.end | date}}
                            </div>
                            <div class="m-bot15"> <strong>Price : </strong> <span class="pro-price">
                                    ${{package.price}}</span></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <h3 class="my-3">Description</h3>
                        {{package.description}}
                    </div>
                </div>

                <h3 class="my-4">Pictures</h3>

                <div class="row mb-3">
                    <carousel [isAnimated]="true" [pauseOnFocus]="true">
                        <slide *ngFor="let photo of package.photos">
                            <img class="img-fluid" src="{{photo.url}}" alt="{{photo.url}}"
                                style="display: block; width: 100%;">
                        </slide>
                    </carousel>
                </div>

            </div>
        </tab>
        <tab heading="Edit package" *appHasRole="'Admin'">
            <div class="container">
                <app-tour-package-edit [(tourPackage)]="package"></app-tour-package-edit>
            </div>
        </tab>
    </tabset>
    <div class="col-1" *ngIf="user">
      <i class="fa fa-bookmark-o btn-nav fa-2x" (click)="addTour(package.id)"></i>
    </div>
  </div>
</div>

<div class="messages" *ngIf="package && user && package.expert">
  <div *appHasRole="'Client'">
  <button class="btn btn-outline-info btn-sm" *ngIf="!messageMode" (click)="messageModeChange()">
    <i class="fa fa-comments-o fa-2x"></i>
  </button>
  <button class="btn btn-sm btn-exit" *ngIf="messageMode" (click)="messageModeChange()">
    <i class="fa fa-times fa-lg"></i>
  </button>
  <app-user-messages [username]="package.expert.username" *ngIf="messageMode"></app-user-messages>
  </div>
  <div *ngIf="package.expert.username == user.username">
    <app-user-messages-list></app-user-messages-list>
  </div>
</div>

